@charset "UTF-8";
html, body {
  background: url("../img/backgraund.png") no-repeat center center fixed;
  background-repeat: repeat;
  background-size: 100% 350%; /* 横幅を50%、高さを200%に設定 */
  background-position: top left;
  background-attachment: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* カスタムスクロールバーのスタイル */
body::-webkit-scrollbar {
  width: 12px; /* スクロールバーの幅 */
}

html body::-webkit-scrollbar-track, body body::-webkit-scrollbar-track {
  background: #ffd9a4; /* スクロールバーのトラックの色 */
}
html body::-webkit-scrollbar-thumb, body body::-webkit-scrollbar-thumb {
  background: #95bef3; /* スクロールバーのハンドルの色 */
  border-radius: 10px; /* 丸みを追加 */
}
html body::-webkit-scrollbar-thumb:hover, body body::-webkit-scrollbar-thumb:hover {
  background: #2980b9; /* ホバー時の色 */
}

* {
  box-sizing: inherit; /* 全要素にボックスモデルを適用 */
}

body {
  font-family: Arial, sans-serif;
  padding-top: 100px; /* ヘッダーの高さに合わせてコンテンツを下げる */
}

/* フォント変更 */
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 2s ease-out;
}

/* フェードアウト効果 */
.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* 画像のスタイル */
#loading-image {
  max-width: 50%;
  height: auto;
}

/* ヘッダーデザイン */
header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #ffD9a4;
  align-items: center;
  position: fixed;
  top: 0; /* ヘッダーを最上部に固定 */
  z-index: 1000; /* 他の要素よりも前面に表示 */
}

ul {
  display: flex;
}

.box1 {
  margin: 0 auto 30px;
  text-align: center;
  width: 800px;
  height: 950px;
  color: #000000;
  background: #ffD9a4;
  box-shadow: 0px 0px 0px 10px #ffD9a4;
  border: dashed 4px white;
  border-radius: 8px;
}

.box2 {
  margin: 0 auto 30px;
  text-align: center;
  width: auto;
  height: 130px;
  color: #000000;
  background: #ffD9a4;
  box-shadow: 0px 0px 0px 10px #ffD9a4;
  border: dashed 4px white;
  border-radius: 8px;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 35px;
}

.title {
  margin-right: auto;
  margin-left: 20px; /* 左側に余白を追加（適宜調整） */
  font-size: 25px; /* 文字サイズを調整 */
}

h1 {
  text-align: center;
}

.nev {
  display: flex;
  flex: 1;
  flex-direction: column; /* ナビゲーション項目も横に並べる */
}

.nav-list {
  flex-direction: column;
}

#nav_item2:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.menu-group {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  color: black;
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  gap: 2px;
}

.item {
  list-style: none;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 吹き出しとキャラクター */
.balloon-chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  position: relative;
}

.balloon-chat.left {
  flex-direction: row; /* キャラクターを左、吹き出しを右に */
}

.container {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 100vh; /* 画面全体の高さに揃える */
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px; /* 吹き出しとの余白 */
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 0; /* 下端に配置 */
  right: -40px;
}

.pagetop a {
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  padding: 4px 6px;
}

.pagetop a:hover {
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

#nagona1-image {
  width: 300px; /* 画像サイズを調整 */
  height: auto;
}

footer {
  background-color: rgb(99, 34, 4);
  color: white;
  width: 100%;
  text-align: center;
}

.character-name {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

h1 {
  text-align: center;
  bottom: -100px; /* 下からの距離 */
}

.wrap {
  text-align: center;
}

.chatting {
  position: relative;
  max-width: 300px;
  padding: 10px 15px;
  background: #ccffcc;
  border-radius: 12px;
  text-align: left;
  font-size: 20px;
}

.chatting::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px; /* 左側に三角形を表示 */
  transform: translateY(-50%);
  border: 10px solid transparent;
  border-right-color: #ccffcc;
}

.details {
  background-color: #d5c2d8;
  color: #000000;
  line-height: 2;
  border: 1px solid #B9F9B2;
  width: 80%;
  margin: 0 auto 20px;
}
.details__summary {
  position: relative;
  display: block;
  background: #ffD9a4;
  box-shadow: 0px 0px 0px 10px #ffD9a4;
  border: dashed 3.5px white;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  padding: 10px 40px 10px 16px;
}
.details__summary::-webkit-details-marker {
  display: none;
}
.details__summary::before {
  display: block;
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 6px);
  right: 16px;
  width: 6px;
  height: 6px;
  border: 6px solid transparent;
  border-left: 6px solid #ffffff;
  transition: all 0.4s ease-out;
  transform-origin: 3px 6px;
  transform: rotate(90deg);
}
.details[open] .details__summary::before {
  transform: rotate(-90deg);
}
.details__content {
  overflow: hidden;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.details__content > * {
  margin: 0;
  padding-top: 16px;
}
.details__content > *:last-child {
  padding-bottom: 16px;
}

.drawer_hidden {
  display: none;
}

@media screen and (max-width: 765px) {
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 100;
    cursor: pointer;
  }
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 10px;
  }
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #ffD9a4;
    transition: 0.5s;
    padding-top: 20px;
  }
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;
  }
}/*# sourceMappingURL=planning.css.map */
